name: Build on push

on: push

# Set the GITHUB_TOKEN to a restricted permission we don't need anything else than this.
# This will disable all other permissions than metadata: read, which is always enabled.
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }}
    strategy:
      matrix:
        otp: ["23.2.7.4", "23.3.4.1", "24.0.1"]
        elixir: ["1.11.4", "1.12.1"]
    env:
      MIX_ENV: test
      cache_version: v3
    steps:
      - uses: actions/checkout@v2
        name: Checkout

      - uses: actions/cache@v1
        name: Cache deps
        with:
          path: deps
          key: deps-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            deps-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

      - uses: actions/cache@v1
        name: Cache _build
        with:
          path: _build
          key: build-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            build-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

      - uses: erlef/setup-elixir@v1
        name: Setup elixir
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - run: mix deps.get
      - run: mix compile
      - run: mix test --trace --preload-modules --include skip
      - run: mix credo
      - run: mix dialyzer
      - run: mix format --check-formatted
