name: Build on push

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }}
    strategy:
      matrix:
        otp: ["23.0.4", "23.1.5", "23.2.1"]
        elixir: ["1.10.4", "1.11.3"]
    env:
      MIX_ENV: test
      cache_version: v2
    steps:
      - uses: actions/checkout@v2
        name: Checkout

      - uses: actions/cache@v1
        name: Cache deps
        with:
          path: deps
          key: deps-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            deps-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

      - uses: actions/cache@v1
        name: Cache _build
        with:
          path: _build
          key: build-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            build-${{ env.cache_version }}-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

      - uses: actions/setup-elixir@v1
        name: Setup elixir
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - run: mix deps.get
      - run: mix compile
      - run: mix test --trace --preload-modules
      - run: mix credo
      - run: mix dialyzer
      - run: mix format --check-formatted
